.container {
  width: 300px;
  padding: 10px;
}

.title {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.createItemForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
}

.tasks {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
